* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #330864;
}

header, footer {
  background-color: #eb91be;
  height: 60px;
  justify-content: center;
  color: white;
}

header h1 {
  font-size: 30px;
  padding-top: 10px;
}

footer span {
  padding: 20px;
}

.flex {
  display: flex;
}

.flex-one {
  flex: 1;
}

.list {
  width: 350px;
  border: 1px solid #eb4c9b;
  margin: 20px;
  border-radius: 10px;
  color: #eb4c9b;
}

.list .title {
  margin: 5px 10px;
  padding: 5px;
}

.list .item {
  padding: 5px;
  border-top: 1px solid #5241f0;
  border-bottom: 1px solid #5241f0;
}

.list input, button {
  color: #000000;
  margin-left: 5px;
}

.list button {
  padding: 2px;
}

.heading {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #eb4c9b;
}

.heading .title {
  width: 100px;
}

.heading .add {
  font-size: 28px;
  cursor: pointer;
}

.error {
  color: red;
}